<div class="bg-white shadow rounded px-4 py-6 bg-gray-300">
  <.form
    let={f}
    for={@changeset}
    id="<%= schema.singular %>-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  <%= for input <- Mix.Legendary.inputs(schema) do %>
    <%= input %>
  <% end %>
    <div>
      <%%= styled_button "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
