.Article-content a {
  @apply text-blue-700 underline;
}

.Article-content h1 a {
  @apply text-black no-underline;
}

.Article-content p {
  @apply mb-6;
}

.Article-content h1 {
  @apply text-4xl font-bold mt-6 mb-3;
}

.Article-content h2 {
  @apply text-2xl font-bold mt-6 mb-3;
}

.Article-content h3 {
  @apply text-xl font-semibold  mt-3 mb-3;
}

.Article-content h4 {
  @apply text-lg font-semibold mt-3;
}

.Article-content h5 {
  @apply uppercase mt-3;
}

.Article-content h6 {
  @apply uppercase font-light  mt-3;
}

.Article-content blockquote {
  @apply border-l-2 pl-4 italic mb-6;
}

.Article-content blockquote cite {
  @apply not-italic font-bold mt-6 block;
}

.Article-content table {
  @apply min-w-full leading-normal;
}

.Article-content th {
  @apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs;
  @apply font-semibold text-gray-600 uppercase tracking-wider;
}

.Article-content td {
  @apply px-5 py-5 border-b border-gray-200 bg-white text-sm;
}

.Article-content dt {
  @apply uppercase font-light  mt-3;
}

.Article-content ul {
  @apply list-disc;
}

.Article-content ol {
  @apply list-decimal;
}

.Article-content li {
  @apply ml-6 pl-2;
}
